---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/horte.png"}
    />
    <style>
        /* Estilos para las columnas (puedes personalizar según sea necesario) */
        .column {
            width: 33%;
            box-sizing: border-box;
            padding: 10px;
            float: left;
        }

        /* Clearfix para evitar problemas de flotación */
        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about}/>
      <img src="/assets/images/tec.png" title="Academic experience"/>
      <Experience title={"EDUCATION"} details={info.education} />
      <Experience title={"EXPERIENCE"} details={info.experience} />

      <section>
        <h2 class="w-[12rem] dark:text-light mt-16">PUBLICATIONS</h2>
        <br>

      <table style="width: 100%; ">
          <tr>
              <td width="90%" class="dark:text-white">
                  <b>Trial on 3D Gaussian Splatting for Emulating Real-Life Learning Experiences in Undergraduate Educational Robotics</b><br>
                  <small>Arturo E. Cerón-López, Jason A. Castaño-López, José G. Buenaventura-Carreón, Oscar Cárdenas-Gómez, Juan C. Hernández-Ríos, José A. León-Navarro, <br>
                  Max Pacheco-Ramírez, <a style="color: #33ccff;"><i>Hortencia A. Ramírez-Vázquez</i></a>, Andrea M. Salcedo-Vázquez.<br>
                  ICRA@40
                  </small>
              </td>
              <td width="50%" style="text-align: right; vertical-align: top;" class="dark:text-white">
                  Sep 2024 <br>
              </td>
          </tr>
      </table>

      <br>

      <table style="width: 100%;">
          <tr>
              <td width="90%" class="dark:text-white">
                  <b> Análisis bioinformático de genes diferencialmente expresados involucrados en el desarrollo de cáncer de colon</b><br>
                  <medium>(<i>Bioinformatic analysis of differentially expressed genes in colon cancer</i>) </medium><br>
                  <small>Frida Cano F., Gala Flores G., <a style="color: #33ccff;"><i>Hortencia A. Ramírez V.</i></a>, Gabriela Cortés O., Harumi C. Manzano Y., Diana P. López E., Leonardo M. Cañete, Aurora A. Pérez.<br>
                  Revista de la Sociedad Mexicana de Biotecnología y Bioingeniería A.C., <a href="https://smbb.mx/wp-content/uploads/2022/03/Revista-vol-25_4-MEMORIAS-XIX-Congreso-Nacional.pdf" target="_blank"><u class="dark:text-white">SMBB 2021, p.403</u></a>, ISSN: 0188-4786.
                  </small>
              </td>
              <td width="50%" style="text-align: right; vertical-align: top;" class="dark:text-white">
                  Sep 2021 <br>
              </td>
          </tr>
      </table>


      
        <h2 class="w-[15rem] dark:text-light mt-16">FEATURE PROJECTS</h2>
        <ProjectsWrapper projects={featureProjects} />
        <h2 class="w-[12rem] dark:text-light mt-16">ACHIEVEMENTS</h2>

        <!-- ACHIEVEMENTS -->
        <!-- Columna 1 -->
        <div class="column">
            <h3 class="w-[15rem] dark:text-light mt-16">Robotics Engineering Graduation 2024</h3>
            <img src="/assets/images/engineer.png" title="Graduation 2024" width="100%" alt="Graduation">
            
            <h3 class="w-[15rem] dark:text-light mt-16">Awarded at Expo Ingenierías 2022 </h3>
            <a href="/assets/files/ObjectDetection_UnmannedUnderwaterVehicles.pdf" target="_blank">
                <img src="/assets/images/ExpoIng.png" title="Expo Ingenierías" width="100%" alt="HackMty">
            </a>
        </div>

        <!-- Columna 2 -->
        <div class="column">
            <h3 class="w-[15rem] dark:text-light mt-16">Excellence in Integral Education Recognition 2024 </h3>
            <img src="/assets/images/life.png" title="Excellence in Integral Education Recognition" width="100%" alt="HackMty">
            
            <h3 class="w-[15rem] dark:text-light mt-16">Líderes del Mañana Scholarship @Tecnológico de Monterrey</h3>
            <a href="/assets/files/LideresDelManana.pdf" target="_blank">
                <img src="/assets/images/ldm.png" title="Líderes del Mañana" width="100%" alt="HackMty">
            </a>
        </div>

        <!-- Columna 3 -->
        <div class="column">
            <h3 class="w-[15rem] dark:text-light mt-16">Second-place winner at HackMTY 2022</h3>
            <a href="https://devpost.com/software/sistec" target="_blank">
                <img src="/assets/images/HackMty.png" title="HackMty2022" width="100%" alt="HackMty">
            </a>
            <h3 class="w-[15rem] dark:text-light mt-16">FIRST Robotics Championship Houston 2018 and 2019</h3>
            <a href="https://www.thebluealliance.com/team/4775/history" target="_blank">
                <img src="/assets/images/First.png" title="First Robotics Competition" width="100%" alt="HackMty">
            </a>
        </div>


        <!-- Clearfix para evitar problemas de flotación -->
        <div class="clearfix"></div>

        <h2 class="w-[15rem] dark:text-light mt-16">RESUME</h2>
        <a href="/assets/files/Alejandra Ramirez (Resume).pdf" target="_blank" style="color: #33ccff;">Grab my resume here!</a>
        <br>
        <br>
        <br>
        <br>
      </section>
    </Layout>
  </body>
</html>
