---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/horte.png"}
    />
    <style>
        /* Estilos para las columnas (puedes personalizar según sea necesario) */
        .column {
            width: 50%;
            box-sizing: border-box;
            padding: 10px;
            float: left;
        }

        /* Clearfix para evitar problemas de flotación */
        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about}/>
      <img src="/assets/images/tec.png" title="Academic experience"/>
      <Experience title={"EDUCATION"} details={info.education} />
      <Experience title={"EXPERIENCE"} details={info.experience} />
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">FEATURE PROJECTS</h2>
        <ProjectsWrapper projects={featureProjects} />
        <h2 class="w-[15rem] dark:text-light mt-16">ACHIEVEMENTS</h2>

        <!-- ACHIEVEMENTS -->
        <!-- Columna 1 -->
        <div class="column">
            <h3 class="w-[15rem] dark:text-light mt-16">Second-place winner at HackMTY 2022</h3>
            <a href="https://devpost.com/software/sistec" target="_blank">
                <img src="/assets/images/HackMty.png" title="HackMty2022" width="100%" alt="HackMty">
            </a>
            <h3 class="w-[15rem] dark:text-light mt-16">Líderes del Mañana Scholarship @Tecnológico de Monterrey</h3>
            <a href="https://conecta.tec.mx/es/noticias/nacional/educacion/lideres-del-manana" target="_blank">
                <img src="/assets/images/ldm.png" title="Líderes del Mañana" width="100%" alt="HackMty">
            </a>
        </div>

        <!-- Columna 2 -->
        <div class="column">
            <h3 class="w-[15rem] dark:text-light mt-16">Awarded at Expo Ingenierías 2022 </h3>
            <a href="https://drive.google.com/file/d/12n6WZnelnlxiGlXej7mc-UcGLlCfIshG/view?usp=sharing" target="_blank">
                <img src="/assets/images/ExpoIng.png" title="Expo Ingenierías" width="100%" alt="HackMty">
            </a>
            <h3 class="w-[15rem] dark:text-light mt-16">FIRST Robotics Championship Houston 2018 and 2019</h3>
            <a href="https://www.thebluealliance.com/team/4775/history" target="_blank">
                <img src="/assets/images/First.png" title="First Robotics Competition" width="100%" alt="HackMty">
            </a>
        </div>


        <!-- Clearfix para evitar problemas de flotación -->
        <div class="clearfix"></div>

        <h2 class="w-[15rem] dark:text-light mt-16">RESUME</h2>
        <a href="/assets/files/Resume_LastVersion.pdf" target="_blank" style="color: #33ccff;">Grab my resume here!</a>
        <br>
        <br>
        <br>
        <br>
      </section>
    </Layout>
  </body>
</html>
